/* universal styles */

* {
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

img {
    display: inline-block;
}

/* font sizes */

p, th, td, a {
    font-size: 20px;
}

h1 {
    font-size: 64px;
}

.navbutton {
    font-size: 24px;
}

#info-text {
    font-size: 36px;
}

#filters h2 {
    font-size: 24px;
}

#filters h4 {
    font-size: 20px;
}

#filters label {
    font-size: 20px;
}

#filters select {
    font-size: 16px;
}

/* header */

.landing {
    position: relative;
    top: 60px;
    display: block;
    text-align: center;
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url("./images/snowy.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    opacity: 1;
}

.landing h1 {
    position: relative;
    top: 10px;
    color: whitesmoke;
}

.landing a {
    display: block;
    text-decoration: none;
    line-height: 90px;
    font-size: 30px;
    color: whitesmoke;
    height: 100px;
    width: 450px;
    margin: auto;
    border: 3px solid whitesmoke;
    transition: all 100ms linear;
    position: relative;
    top: 50px;
}

.landing a:hover {
    background-color: whitesmoke;
    color: black;
}

.landing-short {
    height: 300px;
}

.blurb {
    color: white;
    padding: 20px;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4) );
    width: 60%;
    height: 30%;
    margin: auto;
    position: relative;
    top: 25px;
}

.blurb-short {
    height: 50%;
}

/* navbar */

#info {
    position: fixed;
    width: 40%;
    height: 80px;
    z-index: 3;
}

#info-text {
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    height: 60px;
}

#logo {
    display: inline-block;
    height: 50px;
    margin: 5px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    list-style: none;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar a {
    width: 10%;
    text-decoration: none;
}


.navbutton {
    text-align: center;
    line-height: 60px;
    height: 60px;
    background-color: white;
    color: black;
    transition: all 100ms linear;
    overflow: hidden;
}

.navbutton:hover {
    background-color: whitesmoke;
}

/* main */

hr {
    padding: 1px;
    background-color: black;
    margin-bottom: 25px;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 110px;
    text-align: left;
}

main p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#problem {
    display: inline-block;
    width: 45%;
}

#snowstorm {
    width: 50%;
    position: relative;
    left: 25px;
    top: 60px;
    vertical-align: top;
}

table, th, td {
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    text-align: center;
}

th {
    background-color: lightgreen;
}

td {
    background-color: whitesmoke;
}


/* solutions page */

.item {
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border: 1px solid black;
}

.item ul {
    list-style: none;
}

.item article {
    width: 50%;
}

.item img {
    width: 400px;
    max-height: 400px;
    border: 1px solid black;
    vertical-align: middle;
}

#filters {
    border: 1px solid whitesmoke;
    margin-bottom: 25px;
    width: 55%;
    height: 150px;
    margin: auto;
    position: relative;
    top: 50px;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4) );
}

#filters h2 {
    margin: 10px;
    color: white;
}

#filters label {
    color: white;
    margin: 10px 0px 10px 10px;
}

#filters h4 {
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid whitesmoke;
    color: white;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4) );
    text-align: center;
    transition: all 100ms linear;
}

#filters h4:hover {
    background: linear-gradient( rgba(255, 255, 255, 1), rgba(255,255,255,1) );
    color: black;
    cursor: pointer;
}

/* articles */

.article-text {
    display: inline-block;
    width: 45%;
}

.article-image {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-left: 15%;
}

/* resources page */

.resource-text {
    text-align: center;
}

.resource-item {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

/* footer */

footer {
    margin-top: 50px;
    height: 100px;
    background-color: whitesmoke;
    text-align: center;
}

footer p {
    position: relative;
    top: 25px;
}
